{% extends "base.html" %} {% load static %} {% block title %} Abidjan{% endblock title %} {% block content %}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div>
  {% csrf_token %}
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">Abidjan</option>
    <option value="2">Yamoussoukro</option>
    <option value="3">Grand-Béréby</option>
  </select>
</div>
<div class="card">
  <div class="card-body">
    <p>Temperature: <span id="temperature">--</span> °C</p>
    <p>Description: <span id="description">--</span></p>
  </div>
</div>

<script src="{% static "js/main.js" %}"></script>
{% endblock content %}
